name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install required libraries
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pytest for Iris ML Model
      run: |
        pytest -v
