name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test: 
    name: Tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install required libraries
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pytest for Iris ML Model
      run: pytest

  security:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install security tools
        run: pip install bandit

      - name: Run Bandit
        run: bandit -r . -ll
